x-app: &app
  build:
    context: .
    args:
      RUBY_VERSION: '3.1.2'
      NODE_MAJOR: '16'
      YARN_VERSION: '1.22.17'
  image: rails7_react_crud_tutorial:1.0.0
  environment: &env
    RAILS_ENV: ${RAILS_ENV:-development}
  tmpfs:
    - /tmp
    - /app/tmp/pids

x-backend: &backend
  <<: *app
  stdin_open: true
  tty: true
  volumes:
    - ..:/app:cached
    - bundle:/usr/local/bundle
    - rails_cache:/app/tmp/cache
    - assets:/app/public/assets
    - assets_builds:/app/assets/builds
    - history:/usr/local/hist
    - ./.psqlrc:/root/.psqlrc:ro
    - ./.bashrc:/root/.bashrc:ro
    - ./.irbrc:/root/.irbrc:ro
  environment: &backend_environment
    <<: *env
    RUBY_YJIT_ENABLE: 1
    MALLOC_ARENA_MAX: 2
    WEB_CONCURRENCY: ${WEB_CONCURRENCY:-1}
    BOOTSNAP_CACHE_DIR: /usr/local/bundle/_bootsnap
    XDG_DATA_HOME: /app/tmp/caches
    BINDING: 0.0.0.0
    HISTFILE: /usr/local/hist/.bash_history
    IRB_HISTFILE: /usr/local/hst/.irb_history
    EDITOR: vi

services:
  rails:
    <<: *backend
    command: bundle exec rails

  web:
    <<: *backend
    command: bin/dev
    ports:
      - '3000:3000'
      - '35729:35729'

volumes:
  bundle:
  history:
  rails_cache:
  assets:
  assets_builds:
  node_modules:
